<div class="post-card">
  <!-- Post Header -->
  <div class="post-header">
    <div class="user-info">
      <img  [src]=" post.avatar ? post.avatar : 'data:image/svg+xml,%3Csvg xmlns=&quot;http://www.w3.org/2000/svg&quot; width=&quot;120&quot; height=&quot;120&quot; viewBox=&quot;0 0 120 120&quot;%3E%3Crect fill=&quot;%23ddd&quot; width=&quot;120&quot; height=&quot;120&quot;/%3E%3Ctext fill=&quot;%23999&quot; font-family=&quot;sans-serif&quot; font-size=&quot;40&quot; dy=&quot;.3em&quot; x=&quot;50%25&quot; y=&quot;50%25&quot; text-anchor=&quot;middle&quot;%3E?%3C/text%3E%3C/svg%3E'"
           alt="User avatar" 
           class="avatar">
      <div class="user-details">
        <h3 class="username">{{ post.username }}</h3>
        <span class="timestamp">{{ post.createdAt | date:'short' }}</span>
      </div>
    </div>
    
    <!-- Three-dot Menu -->
  
  </div>

  <!-- Post Content -->
  <div class="post-content">
    <p *ngIf="post.content">{{ post.content }}</p>
    
    <!-- Image -->
    <!-- <img *ngIf="post.imageUrl" 
           src="https://img.freepik.com/free-photo/starry-clear-sky-view-with-nature-landscape_23-2151683112.jpg?ga=GA1.1.1543395655.1759957868&semt=ais_hybrid&w=740&q=80"
         alt="Post image" 
         class="post-media">
    
     <video *ngIf="post.videoUrl" 
           [src]="post.videoUrl" 
           controls 
           class="post-media">
      Your browser does not support the video tag.
    </video>  -->
  </div>

  <!-- Post Actions -->
  <div class="post-actions">   
    <div class="action-buttons">
      <button class="action-btn"  
              (click)="getMoreInfo(post.postId)">
       More...
      </button>
    </div>
  </div>
</div>
