<div class="post-card">
  <!-- Post Header -->
  <div class="post-header">
    <div class="user-info">
      <img  [src]=" post.avatar || 'avatar-default.jpeg'" (error)="$event.target.src='avatar-default.jpeg'"
           alt="User avatar" 
           class="avatar">
      <div class="user-details">
        <h3 class="username">{{ post.username }}</h3>
        <span class="timestamp">{{ post.createdAt | date:'short' }}</span>
      </div>
    </div>
    
    <!-- Three-dot Menu -->
  
  </div>

  <!-- Post Content -->
  <div class="post-content">
    <p *ngIf="post.content">{{ post.title || 'no title' }} </p>
    
    @if (post.media && post.media.length > 0) {
      @if (post.media[0].endsWith('.mp4')) {
        <video 
          [src]="post.media[0]" 
          controls 
          class="post-media">
          Your browser does not support the video tag.
        </video> 
      } @else {
        <img 
          [src]="post.media[0]" 
          alt="Post image" 
          class="post-media">
      }
    }@else {
      <img 
        [src]="'avatar-default.jpeg'" (error)="$event.target.src='avatar-default.jpeg'" 
        alt="Default image" 
        class="post-media">
    }
    
  </div>

  <!-- Post Actions -->
  <div class="post-actions">   
    <div class="action-buttons">
      <button class="action-btn"  
              (click)="getMoreInfo(post.postId)">
       More...
      </button>
    </div>
  </div>
</div>
