<app-nav-bar />
<div class="users-list-container">
  <div class="followers-tab">
    <!-- Header -->
    <div class="card-header">
      <h2>Suggested Users</h2>
      <span class="user-count">{{ users.length }} users</span>
    </div>

    <!-- Loading State -->
    <div class="loading" *ngIf="loading">
      <div class="spinner"></div>
      <p>Loading users...</p>
    </div>

    <!-- Users List -->
    <div class="users-grid" *ngIf="!loading">
      <div class="user-item" *ngFor="let user of users">
        <div class="user-content" (click)="viewProfile(user.username)">
          <!-- Avatar -->
          <div class="avatar-container">
            <img
              src="https://img.freepik.com/free-photo/starry-clear-sky-view-with-nature-landscape_23-2151683112.jpg?ga=GA1.1.1543395655.1759957868&semt=ais_hybrid&w=740&q=80"
              [alt]="user.username" class="avatar">
          </div>
          <div class="user-item">
           
            <div class="user-details">
              <p class="user-username">@{{ user.username }}</p>
            
            </div>
            <button class="follow-btn-small" >
              <!-- (click)="toggleFollowUser(follower)"> -->
              Follow 
            </button>
          </div>
  
        </div>

        <!-- Empty State -->
        <div class="empty-state" *ngIf="users.length === 0">
          <span class="icon">👥</span>
          <p>No users to display</p>
        </div>
      </div>
    </div>
  </div>